body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#navMenu {
  min-width: 100%;
  min-height: auto;
  font-size: 5vh;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgba(119, 194, 194, 0.9);
  margin-bottom: 5%;
}

#navMenu :hover {
  color: #c75123;
  transition: 0.8s;
  transform: scale(1.2);
}

#weatherView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75%;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#checkCodeExp {
  display: flex;
  flex-direction: row;
}

#chuckNorris {
  margin-top: 1%;
  display: flex;
}

#chuckNorrisInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  max-width: 300px;
  height: auto;
  margin-bottom: 1%;
  border-radius: 5%;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
}

#footerQuote {
  color: rgba(67, 184, 129, 0.9);
  font-family: "Courier New", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
  img {
    box-shadow: 5px 5px 2px 1px rgb(255, 255, 255);
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
  img {
    box-shadow: 5px 5px 2px 1px rgb(0, 0, 0);
  }
}
