body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

/* Inne i App.vue för att få views en bit ifrån nav&footer----*/
.views {
  margin-top: 20%;
  margin-bottom: 20%;
}

/* Navmenu inställningar */
nav {
  background-color: #a0bc59c9;
}

#navBtn_Title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

#headTitle {
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.navbar-toggler {
  box-shadow: 0.5px 0.5px 2px 0.5px black;
}

/* Footer inställningar */
#footerQuote {
  color: rgba(67, 184, 129, 0.9);
  font-family: "Courier New", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

footer {
  background-color: #a0bc59c9;
  width: 100%;
  height: 25px;
  z-index: 1000;
}

/* =================================================================
  CSS FÖR Andriod Selection View
 ================================================================= */
.filter {
  padding: 20px;
}
/* =================================================================
slut på Andriod Selection View
=================================================================*/

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
