body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#app {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

nav {
  display: flex;
  min-width: 100%;
  height: auto;
  border: solid yellow 1px;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.navbar-toggler {
  box-shadow: 0.5px 0.5px 2px 0.5px black;
}

.navbar-brand {
  border: solid red 1px;
  flex-grow: 1;
  position: sticky;
}

.bg-green {
  background-color: #a0bc59;
}

#footerQuote {
  color: rgba(67, 184, 129, 0.9);
  font-family: "Courier New", system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
}
